<div class="row">
<div class="col-sm-12" style="background-color:white;">

         <ul class="list-group" style="text-align:center;">
            <li class="list-group-item">
              <h4 class="list-group-item-heading">Applications</h4>
              <p class="list-group-item-text">An application space for innovation</p></li>

<li class="list-group-item">
  <h4 class="list-group-item-heading">Presentation</h4>
  <p class="list-group-item-text">Visualization, reporting, sharing, and dissemination of innovation and the innovation stack.</p></li>


<li class="list-group-item">
  <h4 class="list-group-item-heading">Data Processing</h4>
  <p class="list-group-item-text">Numerical packages, algorithms, and knowledge that digest data to generate new knowledge.</p></li>


<li class="list-group-item">
  <h4 class="list-group-item-heading">Storage & Middleware</h4>
  <p class="list-group-item-text">Infrastructure to organize & execute both codes & data.</p></li>

  <li class="list-group-item">
    <h4 class="list-group-item-heading">Hardware & System Software</h4>
    <p class="list-group-item-text">Computers, mobile devices, notebooks, etc. that drive innovation.</p></li>


          </ul>
        </div>
      </div>
