---
layout: page
title: Initial Project Pages
permalink: /projects/

teams:
- members:
  gist: tonyfast/e88e9bba7dcd5e173fb2
- members:
  gist: npaulson/1bbc2cb92123678a10f9
- members:
  gist: Mahdi-Roozbahani/5a6e789d62f9fe3704ef
- members:
  gist: pfz3/054cf5726b18be8a657e
- members:
  gist: awhite40/e6e4a8d8a47dbfdd19b8
- members:
  gist: PenPatel/3e9ef5ab107be1867e2a
- members:
  gist: alikhosravani/b66e2204d5a33ec8d7aa
- members:
  gist: alohse/2e65aa434f2bd3c368ec
- members:
  gist: davidbrough1/06017725d308a8f308d2
---

<h1>Early Project Statements</h1>
<div class="row">
{% capture description %}
> Material structure quantification is the central theme of the class. I am looking to
define a project for every student where there is a significant demonstration that the
student has learned about data-driven objective identification of low-dimensional
representation of the structure. This can be done either in the context of structure-property
 linkages or in the context of process-structure linkages. If the description is not clear, I
 encourage student(s) to make an appointment with me to discuss their ideas and give me a chance
 to guide them into a specific project.

[From @suryakalidindi](https://github.com/Materials-Informatics-Lab/Materials-Informatics-Lab.github.io/issues/2)
{% endcapture %}

{{description|markdownify}}
</div>
<div class="row">
  <h2>Teams</h2>
  {% for team in page.teams %}
    <li><a href="#{{forloop.index}}"><h3>Team {{forloop.index}}</h3></a></li>
  {% endfor %}
</div>


<div class="row">
  {% for team in page.teams %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 id="{{forloop.index}}">Team {{forloop.index}}</h2>
    </div>
    <div class="panel-body">
      <script src="https://gist.github.com/{{team.gist}}.js"></script>
    </div>
  </div>
  {% endfor %}
</div>


{% include services/disqus.html %}
