---
layout: page
title: Materials Informatics Buzz
permalink: /reads/

popular:
- url: http://www.wired.com/2014/08/sciences-big-data-problem/
  source: Wired
  title: Science’s Big Data Problem
- url: http://www.nytimes.com/2014/08/18/technology/for-big-data-scientists-hurdle-to-insights-is-janitor-work.html?_r=0
  source: The New York Times
  title: "For Big-Data Scientists, ‘Janitor Work’ Is Key Hurdle to Insights"
- url: http://www.scientificamerican.com/article/how-supercomputers-will-yield-a-golden-age-of-materials-science/
  title: How Supercomputers Will Yield a Golden Age of Materials Science
  source: Scientific American
- url: http://www.nature.com/nbt/journal/v31/n11/full/nbt.2740.html
  title: So you want to be a computational biologist?
  source: Nature
- url: http://data-informed.com/soft-skills-matter-data-science/
  title: Why Soft Skills Matter in Data Science
  source: Data Informed
- url: http://diveintohtml5.info
  title: Dive Into HTML5

materials:
- url: http://link.springer.com/article/10.1007/s11837-014-1078-9
  title: New TMS Study Tackles the Challenge of Integrating Materials Simulations Across Length Scales
  source: The Minerals, Metals & Materials Society
- url: http://nist.gov/mgi/upload/NIST-IR-7898.pdf
  title: Materials Genome Initiative White Paper
  source: National Institute of Standards and Technology
- url: http://www.sciencedirect.com/science/article/pii/S0749641910000306
  title: A perspective on trends in multiscale plasticity
  source: International Journal of Plasticity
- url: http://download.springer.com/static/pdf/674/art%253A10.1007%252Fs11837-011-0057-7.pdf
  title: Microstructure Informatics Using Higher-Order Spatial Correlations and Efficient Data-Mining Protocols
  source: Journal of Materials
---
<h1>Materials & Data Science Reading</h1>
<div class="row">
  <h3>Popular Articles</h3>
  {% for refs in page.popular %}
  <li><a href="{{refs.url}}">{{refs.title}}</a>
    {% if refs.source %} from {{refs.source}} {% endif %}</li>
  {% endfor %}
</div>

<div class="row">
  <h3>Materials Science Articles</h3>
  {% for refs in page.materials %}
  <li><a href="{{refs.url}}">{{refs.title}}</a>
    {% if refs.source %} from {{refs.source}} {% endif %}</li>
  {% endfor %}
</div>

{% include disqus.html %}
