---
layout: page
title: projects
permalink: /projects/
---
{% assign ct=0 %}
<h1>Project List</h1>
{% for groups in site.data['project-sites']['group'] %}
<div class="row">
  <h2>Group {{forloop.index}}</h2>
  {% for sites in groups['projects'] %}
  {% assign ct = ct | plus:1 %}
<div class="col-sm-12 col-md-6">
<div class="panel panel-default">
<div class="panel-heading" id="project{{ct}}">
<a href="#project{{ct}}">{{sites.manager.name}}'s </a> Team Project
</div>
<div class="panel-body" >
  <ul>
    <li><a href="{{sites.url}}"><span class="mega-octicon octicon-link-external"></span>&nbsp;&nbsp;Webpage</a></li>
    <li><a href="{{sites.gh}}"><span class="octicon octicon-mark-github"></span>&nbsp;&nbsp;Github</a></li>
  </ul>

</div>
</div>
</div>
{% endfor %}
</div>
{% endfor %}
