<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      <div class="wrapper">
        <div class="notebook-bg">
        {% include header.html %}
        {{ content }}
        </div>

      {% include paginate.html %}
      {% if page.disqus_on==true or {{page.path | truncate:6}}=='_posts' %}

      {% if page.path != 'index.html'%}

      {% include disqus.html %}
      {% endif %}
      {% endif %}

      </div>



      </div>


    </div>

    {% include footer.html %}

    {% if page.latex %}
      {% include latex.html %}
    {% endif %}


  </body>

  {% include lightbox.html %}

</html>
